.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.2s cubic-bezier( 0.27, 0.43, 0.14, 0.9 );
}
.dropdown-enter-from,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(10px);
}